{% extends 'base.html.twig' %}

{% block title %}PROFILE{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}

    <div class="profile-navbar">

    </div>

    <div class="profile-background">
        <div class="profile-background-left-section">
            <div id="profile-picture" class="profile-picture"
                 style="background-image: url('{{ asset('img/p'~user.getProfilePicture()~'.png') }}');">
                {% if app.user == user %}
                    <div id="change-profile-picture-button" class="change-profile-picture-button">✏️</div>
                {% endif %}
            </div>

            <div class="profile-text">
                <div class="profile-username">{{ user.username }}</div>

                <div class="profile-member-since">Left Earth {{ user.getRegistrationDate()|date|ago }}</div>
            </div>
        </div>

        <div class="profile-background-right-section">
            <div class="profile-badges-title">BADGES</div>

            <div class="profile-badges">
                {% for badge in badges %}
                    <div class="profile-badge tooltip"
                         style="background-image: url('{{ asset('img/b'~badge.id~'.png') }}');">
                        <span class="tooltiptext"><strong>{{ badge.name }}</strong><br/>{{ badge.description }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="profile-picture-modal-container" class="profile-picture-modal-container">
        <div id="profile-picture-modal" class="profile-picture-modal">
            {% for i in 1..10 %}
                <div class="profile-picture-modal-element"
                     style="background-image: url('{{ asset('img/p'~i~'.png') }}');" data-picture="{{ i }}"
                     data-path="p{{ i }}"></div>
            {% endfor %}
        </div>
    </div>

    <div class="profile-stats">
        <div class="profile-stat">MATCHES PLAYED<p class="stat-text" style="color: #cd3299">{{ user.matches }}</p></div>
        <div class="profile-stat">POINTS<p class="stat-text" style="color: yellowgreen">{{ user.points }}</p></div>
        <div class="profile-stat">RANK
            {% if rank == 4 %}
                <div class="profile-badge-small tooltip"
                     style="background-image: url('{{ asset('img/rank'~rank~'.png') }}'); filter: drop-shadow(0 0 0.75rem #6c4134);">
                    <span class="tooltiptext"><strong>IRIDIUM</strong></span>
                </div>
            {% elseif rank == 3 %}
                <div class="profile-badge-small tooltip"
                     style="background-image: url('{{ asset('img/rank'~rank~'.png') }}'); filter: drop-shadow(0 0 0.75rem #9d8503);">
                    <span class="tooltiptext"><strong>PLATINUM</strong></span>
                </div>
            {% elseif rank == 2 %}
                <div class="profile-badge-small tooltip"
                     style="background-image: url('{{ asset('img/rank'~rank~'.png') }}'); filter: drop-shadow(0 0 0.75rem #dab600);">
                    <span class="tooltiptext"><strong>PALLADIUM</strong></span>
                </div>
            {% elseif rank == 1 %}
                <div class="profile-badge-small tooltip"
                     style="background-image: url('{{ asset('img/rank'~rank~'.png') }}'); filter: drop-shadow(0 0 0.75rem #ff0044);">
                    <span class="tooltiptext"><strong>RHODIUM</strong></span>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="profile-history">
        {% if lastMatches|length > 0 %}
            <table style="overflow-y: auto; height: auto;">
                <tr>
                    <th>

                    </th>
                    <th>
                        Participants
                    </th>
                    <th>
                        Outcome
                    </th>
                    <th>
                        Points
                    </th>
                </tr>

                {% for lastMatch in lastMatches %}
                    <tr class="driver">
                        <td class="position">
                            {% if user.id == lastMatch.winner.id %}
                                🏆
                            {% else %}
                                ❌
                            {% endif %}
                        </td>
                        {% if user.id == lastMatch.winner.id %}
                        <td class="driver" style="border-left: 4px solid yellowgreen; white-space: nowrap">
                    {% else %}
                        <td class="driver" style="border-left: 4px solid rgb(194,0,0); white-space: nowrap">
                            {% endif %}
                            {% if lastMatch.winner == lastMatch.user1 %}
                                <strong><a href="/profile?id={{ lastMatch.user1.id }}"
                                           style="color: white">{{ lastMatch.user1.username }}</a></strong> VS <a
                                    href="/profile?id={{ lastMatch.user2.id }}"
                                    style="color: white">{{ lastMatch.user2.username }}</a>
                            {% else %}
                                <a href="/profile?id={{ lastMatch.user1.id }}"
                                   style="color: white">{{ lastMatch.user1.username }}</a> VS
                                <strong><a href="/profile?id={{ lastMatch.user2.id }}"
                                           style="color: white">{{ lastMatch.user2.username }}</a></strong>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.id == lastMatch.winner.id %}
                                <span style="color: yellowgreen">WIN</span>
                            {% else %}
                                <span>LOSE</span>
                            {% endif %}
                        </td>
                        {% if user.id == lastMatch.user1.id %}
                            <td class="gap"><span>{{ lastMatch.getUser1Points() }}</span></td>
                        {% else %}
                            <td class="gap"><span>{{ lastMatch.getUser2Points() }}</span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table style="overflow-y: auto; height: auto">
                <tr>
                    <th></th>
                    <th>
                        <h3 style="font-size: 20px; margin: 0 0; display: block !important;">
                            No match history :(</h3></th>
                </tr>
            </table>
        {% endif %}
    </div>




{% endblock %}