{% extends 'base.html.twig' %}

{% block title %}BATTLESHIP!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <div style="display: flex; justify-content: center">
        <div id="modal-create-match" class="modal-create-match">
            <h3>Create Match</h3>

            <div id="modal-close-button" class="modal-close-button">X</div>

            <div class="form-create-match" id="form-create-match">

                <div id="form-section-ships-create-match" class="form-section-create-match">
                    <div data-value="3" class="form-select-button-create-match">3 ships</div>
                    <div data-value="5" class="form-select-button-create-match">5 ships</div>
                    <div data-value="7" class="form-select-button-create-match">7 ships</div>
                </div>
                <br>

                <div id="form-section-shots-create-match" class="form-section-create-match">
                    <div data-value="1" class="form-select-button-create-match">1 shot&nbsp;</div>
                    <div data-value="3" class="form-select-button-create-match">3 shots</div>
                    <div data-value="5" class="form-select-button-create-match">5 shots</div>
                </div>

                <div style="margin: auto; text-align: center">
                    Public
                    <input id="public" type="checkbox" value="false">
                </div>

                <div id="button-submit-create-match" class="button-submit-create-match">
                    START
                </div>
            </div>
        </div>
    </div>

    <h1>BATTLESHIP</h1>
    <div class="main-container">
        <div class="leaderboard-container">
            <div class="leaderboard">
                <h3 style="margin: 0 0; padding: 0 0;">Leaderboard</h3>
                <table style="overflow-y: auto; height: 40%; ">
                    <tr style="position: marker">
                        <th>
                            Place
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Matches Played
                        </th>
                        <th>
                            Points
                        </th>
                    </tr>
                    {% for leaderboard in leaderboards %}
                        <tr class="driver">
                            <td class="position">{{ loop.index }}</td>
                            <td class="driver" style="border-left: 4px solid rgb(0, 210, 190);">
                                {% if loop.index == 1 %}
                                    🏆
                                {% elseif loop.index == 2 %}
                                    🥈
                                {% elseif loop.index == 3 %}
                                    🥉
                                {% else %}
                                    🥹
                                {% endif %}
                                <strong><a href="/profile?id={{ leaderboard.id }}" style="color: white">{{ leaderboard.username }}</a></strong>
                            </td>
                            <td><span>{{ leaderboard.matches }}</span></td>
                            <td class="gap"><span>{{ leaderboard.points }}</span></td>
                        </tr>
                    {% endfor %}
                </table>
                {% if lastMatches|length > 0 %}
                    <table style="overflow-y: auto; height: auto">
                        <tr>
                            <th>
                                <h3 style="font-size: 20px; white-space: nowrap; margin: 0 0; justify-content: space-evenly; width: 600%">
                                    My Matches</h3></th>
                        </tr>

                        <tr>
                            <th>

                            </th>
                            <th>
                                Participants
                            </th>
                            <th>
                                Outcome
                            </th>
                            <th>
                                Points
                            </th>
                        </tr>

                        {% for lastMatch in lastMatches %}
                            <tr class="driver">
                                <td class="position">
                                    {% if app.user.id == lastMatch.winner.id %}
                                        🏆
                                    {% else %}
                                        ❌
                                    {% endif %}
                                </td>
                                {% if app.user.id == lastMatch.winner.id %}
                                <td class="driver" style="border-left: 4px solid yellowgreen; white-space: nowrap">
                            {% else %}
                                <td class="driver" style="border-left: 4px solid rgb(194,0,0); white-space: nowrap">
                                    {% endif %}
                                    {% if app.user == lastMatch.user1 %}
                                        <strong><a href="/profile?id={{ lastMatch.user1.id }}" style="color: white">{{ lastMatch.user1.username }}</a></strong> VS <a href="/profile?id={{ lastMatch.user2.id }}" style="color: white">{{ lastMatch.user2.username }}</a>
                                    {% else %}
                                        <a href="/profile?id={{ lastMatch.user1.id }}" style="color: white">{{ lastMatch.user1.username }}</a> VS
                                        <strong><a href="/profile?id={{ lastMatch.user2.id }}" style="color: white">{{ lastMatch.user2.username }}</a></strong>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if app.user.id == lastMatch.winner.id %}
                                        <span style="color: yellowgreen">WIN</span>
                                    {% else %}
                                        <span>LOSE</span>
                                    {% endif %}
                                </td>
                                {% if app.user.id == lastMatch.user1.id %}
                                    <td class="gap"><span>{{ lastMatch.getUser1Points() }}</span></td>
                                {% else %}
                                    <td class="gap"><span>{{ lastMatch.getUser2Points() }}</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                <table style="overflow-y: auto; height: auto">
                    <tr>
                        <th></th><th>
                            <h3 style="font-size: 20px; margin: 0 0; display: block !important;">
                                No match history :(</h3></th>
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>

        <div class="matches">
            <div class="buttons">
                <div id="button-create-match" class="button-create-match raise">Create</div>
                <div id="button-join-match" class="button-create-match raise">Join</div>
            </div>

            <div class="matches-container-title">Public Matches</div>
            <div class="matches-container">
                {% for match in matchesMissingAPlayer %}
                    <a href="/battle?battle_id={{ match.id }}&password={{ match.password }}">
                        <div class="match pulse">
                            <p class="battle-title">Battle #{{ match.id }}</p>
                            <p class="battle-participants">{{ match.user1.username }} is waiting...</p>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="matches-container-title">Live Matches</div>
            <div class="matches-container">
                {% for ongoingBattle in ongoingBattles %}
                    <a href="/battle?battle_id={{ ongoingBattle.id }}&password={{ ongoingBattle.password }}">
                        <div class="match">
                            <p class="battle-title">Battle #{{ ongoingBattle.id }}</p>
                            <p class="battle-participants">{{ ongoingBattle.user1.username }}
                                VS {{ ongoingBattle.user2.username }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}