{% extends 'base.html.twig' %}

{% block title %}BATTLESHIP!{% endblock %}


{% block body %}

    <div style="display: flex; justify-content: center">
        <div id="modal-create-match" class="modal-create-match">
            <h3>Create Match</h3>

            <div id="modal-close-button" class="modal-close-button">X</div>

            <div class="form-create-match" id="form-create-match">

                <div id="form-section-ships-create-match" class="form-section-create-match">
                    <div data-value="3" class="form-select-button-create-match">3 ships</div>
                    <div data-value="5" class="form-select-button-create-match">5 ships</div>
                    <div data-value="7" class="form-select-button-create-match">7 ships</div>
                </div>
                <br>

                <div id="form-section-shots-create-match" class="form-section-create-match">
                    <div data-value="1" class="form-select-button-create-match">1 shot&nbsp;</div>
                    <div data-value="3" class="form-select-button-create-match">3 shots</div>
                    <div data-value="5" class="form-select-button-create-match">5 shots</div>
                </div>

                <div id="button-submit-create-match" class="button-submit-create-match">
                    START
                </div>
            </div>
        </div>
    </div>

    <h1>BATTLESHIP</h1>

    <div class="matches">
        <div class="ongoing-battles" style="margin-top: 15vh">
            {% for ongoingBattle in ongoingBattles %}
                <p class="battle-title">Battle #{{ ongoingBattle.id }}</p>
                <a href="/battle?battle_id={{ ongoingBattle.id }}&password={{ ongoingBattle.password }}">
                    <div class="button-spectate">WATCH</div>
                </a>
                <p class="battle-participants">{{ ongoingBattle.user1.username }}
                    VS {{ ongoingBattle.user2.username }}</p>
            {% endfor %}
        </div>
    </div>

    <div id="button-create-match" class="button-create-match">Create Match</div>

    <div class="menu-line"></div>

    <div id="button-join-match" class="button-create-match join">Join Match</div>

    <div class="matches-line" style="margin-top: 12vh"></div>

    <div class="matches-line" style="margin-top: 44vh"></div>
{% endblock %}