{% extends 'base.html.twig' %}

{% block title %}BATTLESHIP!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('battle') }}
{% endblock %}

{% block body %}

    <script>
        let isHost = '{{ isHost }}';
        let isSpectator = '{{ isSpectator }}';
        let battle_id = '{{ battle_id }}';
        let loadedBoats = '{{ placedBoats | json_encode | raw }}';
        let haveBoatsBeenSet = '{{ haveBoatsBeenSet }}';
        let haveOpponentsBoatsBeenSet = '{{ haveOpponentsBoatsBeenSet }}';
        let hitsTaken = '{{ hitsTaken | json_encode | raw }}';
        let hitsSent = '{{ hitsSent | json_encode | raw }}';
        let hasMatchEnded = '{{ hasMatchEnded }}';
        let turn = '{{ turn }}';
    </script>






    <div id="coin-flip-container" class="coin-flip-container">
        <div class="coin" id="coin">
            <div class="heads">
                <img src="img/1.png">
            </div>
            <div class="tails">
                <img src="img/2.png">
            </div>
        </div>
        <div class="stats">
            <p id="coin-flip-status" class="coin-flip-status">FLIPPING FOR FIRST MOVE...</p>
        </div>
    </div>









    <div id="button-home" class="button-home">Home</div>

    <h1>BATTLE</h1>

    {% if isSpectator %}
        {% if hasMatchEnded %}
            <h3 id="spectator-mode-h">WINNER: {{ winner }}</h3>
        {% else %}
            <h3 id="spectator-mode-h">SPECTATOR MODE</h3>
        {% endif %}
    {% else %}
        {% if status is same as(true) %}
            {% if hasMatchEnded %}
                <h3 id="vs">WINNER: {{ winner }}</h3>
            {% else %}
                <h3 id="vs">{{ user1Username }} VS {{ user2Username }}</h3>
            {% endif %}
        {% else %}
            <h3 id="vs">{{ status }}</h3>
        {% endif %}
    {% endif %}

    <div id="status-box" class="status-box">

    </div>

{#    <div style="background-image: url('{{ asset('img/fire.gif') }}'); background-size: cover; height: 50px">a</div>#}

    <div style="display: flex;justify-content: center">
        <div>
            {% if isSpectator %}
                <h3 style="margin-left: 50px">{{ user2Username }}</h3>
            {% else %}
                <h3 style="margin-left: 50px">Your Board</h3>
            {% endif %}

            {% for i in 0..9 %}
                <ul style="display: flex;list-style: none;margin: 0; justify-content: center">
                    {% for j in 0..9 %}
                        <li id="{{ "#{i}#{j}" }}" class="cell">0</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div>
            {% if isSpectator %}
                <h3 style="margin-left: 50px">{{ user1Username }}</h3>
            {% else %}
                <h3 style="margin-left: 50px">Enemy Board</h3>
            {% endif %}
            {% for i in 0..9 %}
                <ul style="display: flex;list-style: none;margin: 0; justify-content: center">
                    {% for j in 0..9 %}
                        <li id="{{ "#{i} #{j}" }}" class="cells">0</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>


    {% if not isSpectator %}
        <div id="boats" style="margin: 5vh 0; width: 100%; display: inline-flex; justify-content: space-around">
            {% for i in  1..nrShips %}
                <div class="boat-to-select" style="margin-right: 20px; color: transparent">
                    <div id="boat_{{ i }}" data-rotation="0" draggable="true" class="boats"
                         style="display: flex;"
                         data-size="{{ boatSizes[i-1] }}"
                         data-position="{{ "false" }}">
                        {% for j in 1..boatSizes[i-1] %}
                            {% if j == 1 %}
                                <div class="ship" style="background-image: url('{{ asset('img/shipBack.png') }}');">{{ i }}</div>
                            {% elseif j == boatSizes[i-1] %}
                                <div class="ship" style="background-image: url('{{ asset('img/shipFront.png') }}');">{{ i }}</div>
                            {% else %}
                                <div class="ship" style="background-image: url('{{ asset('img/shipBody.png') }}');">{{ i }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div id="grid-options" class="grid-options">
                <div id="vertical-checkbox" class="vertical-checkbox">
                    <p>Vertical:</p>
                    <input type="checkbox" id="vertical" name="vertical" value="{{ 0 }}">
                </div>
                <div id="send-or-reset" class="send-or-reset">
                    <div id="send" class="boats-button">Send</div>
                    <div id="reset-board" class="boats-button">Reset</div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}