{% extends 'base.html.twig' %}

{% block title %}BATTLESHIP!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('battle') }}
{% endblock %}

{% block body %}
    <script>
        let isHost = '{{ isHost }}';
        let isSpectator = '{{ isSpectator }}';
        let battle_id = '{{ battle_id }}';
        let loadedBoats = '{{ placedBoats | json_encode | raw }}'
    </script>

    {% if isSpectator %}
        <h3>SPECTATOR MODE</h3>
    {% endif %}

    <div id="button-home" class="button-create-match home">Home</div>

    <h1>BATTLE</h1>

    <div id="boats" style="position: absolute; margin-top: 55vh">
        {% for i in  1..nrShips %}
            <div class="boat-to-select" style="display: flex">
                <div id="boat_{{ i }}" data-rotation="0" draggable="true" class="boats"
                     style="display: flex; width: fit-content;"
                     data-size="{{ boatSizes[i-1] }}"
                     data-position="{{ "false" }}">
                    {% for j in 1..boatSizes[i-1] %}
                        <div class="ship"
                             style="width: 50px;height: 50px; border: 1px solid white;display: flex;justify-content: center;align-items: center">{{ i }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="position:absolute; margin-top: 0">
        <label for="vertical">Vertical: </label>
        <input type="checkbox" id="vertical" name="vertical" value="{{ 0 }}">
        <div id="send-or-reset" style="display: flex">
            <div id="send"
                 style="width: 50px;height: 50px; border: 1px solid white;display: flex;justify-content: center;align-items: center">
                Send
            </div>
            <div id="reset-board"
                 style="width: 50px;height: 50px; border: 1px solid white;display: flex;justify-content: center;align-items: center">
                Reset
            </div>
        </div>
    </div>

    {% if status is same as(true) %}
        <h3 id="vs">{{ user1Username }} VS {{ user2Username }}</h3>
    {% else %}
        <h3 id="vs">{{ status }}</h3>
    {% endif %}

    <div style="display: flex;justify-content: center">
        <div>
            {% for i in 0..9 %}
                <ul style="display: flex;list-style: none;margin: 0; justify-content: center">
                    {% for j in 0..9 %}
                        <li id="{{ "#{i}#{j}" }}" class="cell"
                            style="background-color: gray; width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;border: 1px solid black"
                        >0
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div>
            {% for i in 0..9 %}
                <ul style="display: flex;list-style: none;margin: 0; justify-content: center">
                    {% for j in 0..9 %}
                        <li id="{{ "#{i} #{j}" }}" class="cells"
                            style="background-color: gray; width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;border: 1px solid black"
                        >0
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}